{% assign extras = site.data.data.extras %}
{% if extras %}
<section class="section experiences-section">
  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-briefcase fa-stack-1x fa-inverse"></i>
    </span>
    {{ extras.title }}
  </h2>

  {% for extra in extras.info %}
  <div class="item">

    <div class="meta">

      <div class="upper-row">
        <h3 class="job-title">{{ extra.role }}</h3>
        <div class="time">{{ extra.time }}</div>
      </div><!--//upper-row-->

      <div class="company">{{ extra.company }}</div>

    </div><!--//meta-->

    {% if extra.details %}
    <div class="details">
      {{ extra.details | markdownify }}
    </div><!--//details-->
    {% endif %}

  </div><!--//item-->
  {% endfor %}

</section><!--//section-->
{% endif %}